<mat-card class="card "  >
    <mat-card-header >
      <img mat-card-avatar [src]="profileImg" class="post-profileImg">
      <mat-card-title >{{name}}</mat-card-title>
      <mat-card-subtitle>{{user_name}}</mat-card-subtitle>
    </mat-card-header>
    <br>
    <img mat-card-image [src]="mainImg" alt="Photo" (click)="onClick(postt)">
    
    
    <mat-card-actions>
      <mat-icon class ="heart-icon" svgIcon="heart-icon" (click)="addLike()" ></mat-icon>
     <a routerLink="/comments">
       <mat-icon class="comment-icon" svgIcon="comment-icon" (click)="onClick(post)"></mat-icon>
         
      </a>
   </mat-card-actions>

     <mat-card-content>
     <div>
       {{numberLikes}}
      
      <p>
        {{description}}
      </p>
    </div>
      
    </mat-card-content>
</mat-card>  

<br>
<br>