/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.name-text{
    font-weight: lighter;
    font-size: 29px;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    margin-left: 20px;
}

mat-icon{
    margin: 4px;
    height: 50%;
    color: white;
}

.margin{
    margin-right: 10px;
}

.spacer{
    flex: 1 1 auto;
}

mat-toolbar-row{
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: center;
    overflow: hidden;
    background-color: darkslategray;
    z-index: 1;
    position: fixed;
    top: 0;
}

a {
    color: white;
    text-decoration: none;
}

.card{
    max-width: 700px;
    margin: auto;
    box-shadow: 5px 20px 50px 5px rgba(128, 128, 128, 0.541);
    border: solid rgb(192, 192, 192) 1px;
    z-index: 0;
}

.post-profileImg {
    background-size: cover;
  }
  .settings-text{
    display: inline-block;
    align-items: center;
  }
  .settings-content{
    align-content: center;
    align-items: center;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  app-post{
    
    display: contents;
    
  }
  .heart-icon{
    color: rgba(0, 0, 0, 0.548);
    margin-left: 2px;
  }
  .comment-icon{
    color:black;
    
  }

  .quote{
    font-size: 28px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.267);
    display: block;
    color: rgba(0, 0, 0, 0.568);
    font-family:Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
    z-index: 1;
    position: fixed;
     
  }

  app-user-details{
    padding: 50px;
  }