<mat-toolbar color="warn" class="name-text">
    <mat-toolbar-row>
        <a routerLink="['/']"> <span><mat-icon area-hidden="false" aria-label="Instagram icon" svgIcon="instagram"></mat-icon> &nbsp; | Feit Instagram</span> </a>
        <span class="spacer"></span>
        
        <div class="search-bar">
            <input type="text" placeholder="search" [(ngModel)]="searchText">
            <mat-icon>search-bar</mat-icon>
          </div>
          
        
          <a routerLink="/settings">
        <button mat-icon-button aria-label="Settings icon" >
            <mat-icon>settings</mat-icon>
        </button>
          </a>
        
    </mat-toolbar-row>
</mat-toolbar>
